<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiseapps.PolyWise">
    
    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- ANDROID 13+ PERMISSION FOR GALLERY -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    
    <!-- LEGACY PERMISSIONS FOR ANDROID 10–12 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    
    <!-- Optional but recommended -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Device features -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
    <application
        android:name="${applicationName}"
        android:label="PolyWise"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:hardwareAccelerated="true">
        
        <!-- Google Ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        
        <!-- FILE PROVIDER (required for camera file storage) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="true">
            
            <!-- Deep Link for Password Reset -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.terrydodson.PolyWiseApp"
                    android:host="reset-password"
                    android:pathPrefix="/" />
            </intent-filter>
            
            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Flutter metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- Required for share intents -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        
        <!-- Allow camera apps to respond -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        
        <!-- Allow gallery selection -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>
</manifest>